body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(-225deg, #ff057c 0%, #7c64d5 48%, #4cc3ff 100%);
}

.product-image {
    height: 250px;
    /* max-width: 200px; */
    object-fit: contain;
}

.product-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
